.spotpage{
    margin-top:100px;
    height: 100%;
    width: 100%;
}

.imgandinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.imgdiv {}

.infodiv {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 12px;
    
}

.sptext{

    margin-bottom:12px;

}

.spprice{
    display: flex;
}

.spnum{
    font-weight: 500;
    margin-right: 4px;
}
.line{
    width: 500px;
    border-color: #8e8e8e;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid .1px #dbdbdbad;
}

.revtotaldiv {
    display: grid;
    justify-content: center;

}

.revbtndiv {
    margin-top: 50px;
    display: flex;
    justify-content: center;


}

.revbtn {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-shadow: 0 1px #fff; */
    color: rgb(255, 255, 255);
    font-weight: 1px;
    border: rgb(125, 25, 25) solid;
    font-size: 20px;
    text-decoration: none;
    border-radius: 17px;
    padding: 7px 10px;
    text-align: center;
    background-color: rgb(125, 25, 25);
}



.revdiv {
    /* position: fixed; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* top: 100px; */
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* text-shadow: 0 1px #fff; */
        color: black;
        font-weight: 1px;
        /* margin-top: 50px; */
        box-shadow: 0 0 20px #dbdbdb;
        font-size: 20px;
        text-decoration: none;
        border-radius: 10px;
        margin: 15px;
        padding: 12px;
    
        /* padding: 5px 10px; */
        /* text-align: center; */
        background-color: white;
        /* height: 464px; */
        /* 528 */
        width: 356px;
        /* padding-bottom: 50px; */
    
        justify-content: space-between;
        /* left: 15%; */
        /* z-index: 2; */

}

.revtitle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-shadow: 0 1px #fff; */
    color: rgb(0, 0, 0);
    font-weight: 1px;

    font-size: 20px;
    text-decoration: none;
    border-radius: 17px;
    padding: 7px 10px;
    text-align: center;
    margin-bottom: 10px;

}

.spfoto{
    margin: 0;
    padding: 0;
    height: 560px;
    max-width: 100%;
    object-fit: cover;
    display: inline;
    border-radius: 20px;
}

.reviews {

    font-size: 15px;
    display: grid;
    justify-self: left;
}


.indrev{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 300;
    width: 300px;
    align-items: flex-start;
}

.revname{
    font-weight: 500;
    margin-bottom: 12px;
}
.review{
    /* display:grid; */
    /* display: flex; */
    text-align:start;
    /* justify-content: flex-start; */
    width: 300px;
    max-height: 200px;
    overflow: auto;
}

.indrev {
    margin-bottom: 15px;
}

.eddel{
    margin: 12px;
}