#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}


#modal-background {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

#modal-content {
  /* display: none; */
  padding: 30px 50px;
  position: absolute;
  background-color: white;
  border-radius: 17px;
  z-index: 5;
  animation: 0.5s alternate fromBottom;
  top: 14%;
}

@keyframes fromBottom {
  0% {
    background-color: transparent;
    color: transparent;
    top: 100%;
  }

  /* 50% {
    display: none;
  } */

  100%{
    top: 14%;
  }

}