/* body{
    background-image: url("./pilgrimhat.png");
} */

.splashpage{
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

.blurb {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-shadow: 0 1px #fff; */
    color: black;
    font-weight: 1px;
    /* margin-top: 50px; */
    box-shadow: 0 0 20px #dbdbdb;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding: 32px;

    /* padding: 5px 10px; */
    /* text-align: center; */
    background-color: white;
    height: 464px;
    /* 528 */
    width: 356px;
    /* padding-bottom: 50px; */

    justify-content: space-between;
    left: 15%;
    z-index: 2;


}

.inloc {
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 30px;
    font-size: 16px;
    font-weight: 300;
}

.inloc:focus {
    outline: none;
}

/* .inloc:focus .sindiv{
    border: 3px solid black;
} */
.indate {
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
}

.insel {

    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
}

.bkdImageCon {
    /* display:inline; */
    
    height: 595px;
    width: 50%;
    left: 33%;
    top: 67px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;

}

.bkdImage {
    background-image: url("../../../images/homebkd.jpeg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size:auto 610px;
    /* object-fit:fill; */
    max-height: fit-content;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

}

@media (max-width:1000px) {


    .bkdImageCon{
        display: none;
    }

    .blurb{
        /* left: 0; */
        position:relative;
        left: auto;
        align-self: center;
        justify-self: center;        
    }
}



/* .par {
    font-size: 17px;
    display: grid;
    margin-left: 100px;

} */